html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    background-color: #D3D3D3;
}


header{
    box-shadow: 0 0 5px;
    font-family: sans-serif;
    background-color: rgb(65, 105, 225);
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

#nav img {
    position: absolute;
    left: 20px;
    width: 190px;
}

.menu {
    display: flex;
    gap: 100px;
    color: burlywood;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.menu a {
    position: relative;
    text-decoration: none;
    color: #000000;
    text-decoration: none;
}

.menu a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0; 
    height: 2px; 
    background-color: rgb(13, 202, 98);
    transition: width 0.3s ease-in-out;
}
.menu a:hover::after{
    width: 100%;
}
.menu a:hover{
   
    text-shadow: 0 0 20px var(--shadow);
    letter-spacing: 2px;
    color: #FFFFFF;
    text-decoration: none;
}

#comeco {
    position: relative;
    width: 100%;
    height: 800px;
}

#testee2{
    width: 100%;
    height: 860px;
    object-fit: cover;
}

.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5 green, blue, alpha);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}
.seta.esquerda{
    left: 10px;
}

.seta.direita{
    right: 10px;
}

.seta:hover{
    background-color: rgba(233, 13, 13, 0.8);
}

.titulo{
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 85px;
    margin-left: 33px;
    color: #0171CE;
}

.filmes{
    filter: grayscale(100%);
    height: 425px;
    width: 300px;
    margin-top: 33px;
    margin-left: 33px;
    margin-right: 33px;
    border-radius: 20px;
    transition: 0.8s;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.filmes:hover{
    filter: grayscale(0%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 2.0);
}

.legendaFilmes1{
    display: inline;
    margin: 95px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0171CE;
    
}

.legendaFilmes2{
    display: inline;
    margin: 155px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0171CE;
}

.legendaFilmes3{
    display: inline;
    margin: 127px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0171CE;
}

.legendaFilmes4{
    display: inline;
    margin: 115px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0171CE;
}

.legendaFilmes5{
    display: inline;
    margin: 72px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0171CE;
}

.dias{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.infocartaz{
    margin-top: 5px;
}
.h1cartaz{
    font-size: 35px;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 25px;
    margin-left: 33px;
    margin-top: 90px;
    line-height: 1.25;
    color: #0171CE;
}

.h1infocartaz{
    font-family: sans-serif;
    color: #0171CE;
}
#cartaz {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.filme {
    margin-left: 33px;
    min-width: 1000px;
    max-width: 1000px;
    display: flex;
    align-items: center;
    gap: 20px;
    background: #1c1e26; /* Cor escura para a box */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: fit-content;
}

.informacoesfilmecartaz, 
.informacoesfilmecartaz2, 
.informacoesfilmecartaz3 {
    color: white;
    padding: 15px;
    border-radius: 8px;
}

.postercartaz1, .postercartaz2, .postercartaz3 {
    margin-left: 33px;
    height: 336px;
    width: 256px;
    border-radius: 10px;
}
#sessoes1{
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    margin-top: 8px;
    border: 2px solid #315cfd;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-weight: 550;
}

#sessoes1:hover{
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  background: #315cfd;
  color: white;
  font-size: 1.5em;
}

.botaooscar{
    border-radius: 10px;
    border-color: none;
    background: linear-gradient(to right, #F0C96A, #EDC668, #ECB567);
}

.postercartaz3:hover, .postercartaz2:hover, .postercartaz1:hover, .postercartaz:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .9);
}

.infocartaz{
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

.h1infocartaz2{
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

.sala{
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}


.hoje{
    color: #0171CE;
}

.bold{
    color: #0171CE;
}

p{
    color: #f1e1e1;
}
footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: rgb(65, 105, 225);
    color: #000000;
    padding: 0, 50px;
    font-family: Arial, sans-serif;
}

.footer-left img {
    width: 190px;
}

.footer-center {
    text-align: center;
}

.footer-center h2 {
    margin-bottom: 10px;
}

.social-icons img {
    width: 30px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.2);
}

.footer-right {
    text-align: right;
    padding-right: 15px;
}

.footer-right p {
    margin: 5px 0;
}

html {
    scroll-behavior: smooth;
}